APP_NAME=LMSZAI
APP_ENV=local
APP_KEY=base64:MnNJUnpjT1g3YnNYaWliREhtdTgzemFrYk1jakJoRkY=
APP_DEBUG=true
APP_URL=http://localhost

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=lms_seeder
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=pusher
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

MEMCACHED_HOST=127.0.0.1

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=ssl
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME=

STORAGE_DRIVER=public

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=

ZOOM_API_URL=
ZOOM_API_KEY=
ZOOM_API_SECRET=

BBB_SECURITY_SALT=
BBB_SERVER_BASE_URL=

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

GOOGLE_LOGIN_STATUS=0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URL=

FACEBOOK_LOGIN_STATUS=0
FACEBOOK_CLIENT_ID=
FACEBOOK_CLIENT_SECRET=
FACEBOOK_REDIRECT_URL=

TWITTER_LOGIN_STATUS=0
TWITTER_CLIENT_ID=
TWITTER_CLIENT_SECRET=
TWITTER_REDIRECT_URL=

COOKIE_CONSENT_STATUS=true

VIMEO_CLIENT=
VIMEO_SECRET=
VIMEO_TOKEN_ACCESS=
VIMEO_STATUS=active


PAYPAL_CLIENT_ID=
PAYPAL_SECRET=
PAYPAL_MODE=sandbox

RAZORPAY_KEY=
RAZORPAY_SECRET=

SSLCZ_STORE_ID=
SSLCZ_STORE_PASSWD=


MOLLIE_KEY=

IM_API_KEY=
IM_AUTH_TOKEN=
IM_URL=

PAYSTACK_PUBLIC_KEY=
PAYSTACK_SECRET_KEY=
PAYSTACK_PAYMENT_URL=
MERCHANT_EMAIL=

WASABI_ACCESS_KEY_ID=
WASABI_SECRET_ACCESS_KEY=
WASABI_DEFAULT_REGION=
WASABI_BUCKET=
WASABI_ENDPOINT=
WASABI_ROOT=

VULTR_ACCESS_KEY_ID=
VULTR_SECRET_ACCESS_KEY=
VULTR_DEFAULT_REGION=
VULTR_BUCKET=
VULTR_ENDPOINT=

MERCADO_PAGO_CLIENT_ID=""
MERCADO_PAGO_CLIENT_SECRET=""

FLW_PUBLIC_KEY=""
FLW_SECRET_KEY=""
FLW_SECRET_HASH=""
